.s1{
    width: 15em;
    background-color: rgba(77,59,59,0.39);
    float: left;
}
.s2{
    background-color: rgba(96,150,82,0.84);
    margin-bottom: 2em;
    margin-left: 240px;
    overflow: hidden;
}
.s3{
    background-color: rgba(209,6,20,0.84);
}
img{
    float: right;
}
p{
    margin: 0;
}