*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Menu{
    font-size: 30px;
    height: 0;
}
.Menu > div{
    position: relative;
    background-color: darkslategray;
    border: solid 1px;
    display: table-cell;
    width: 200px;
}
.Menu2{
    width: 170px;
    background-color: cadetblue;
    border: solid 1px;
    position: absolute;
    opacity: 0;
    transition: .55s;
}
.Menu2 > div{
    border: solid 1px;
}
.Menu div:hover .Menu2{
    opacity: 1;
}

@media all and (max-width: 1200px){
    .Menu {
        display: flex;
        flex-direction: column;
    }
    .Menu2{
        left: 90%;
        top: 10%;
        z-index: 1;
    }
}