*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Menu{
    font-size: 30px;
}
.Menu > div{
    background-color: darkslategray;
    border: solid 1px;
    display: table-cell;
    width: 200px;
    position: relative;
}
.Menu2{
    display: none;
    width: 200px;
}
.Menu2 > div{
    background-color: cadetblue;
    border: solid 1px;
}
.Menu > div:hover .Menu2{
    display: block;
    position: absolute;

}

@media all and (max-width: 1200px){
    .Menu{
        display: flex;
        flex-direction: column;
    }
    .Menu:hover .Menu2{
        left: 90%;
        top: 10%;
        z-index: 1;
    }
}